<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/script.js"></script>
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This was created by Olaobi Ifedayo Fasakin. It uses data from weatherstack.com and mapbox.com</p>
    <img src="/images/passportmain.jpg" alt="CEO passport" class="portrait">
</div>


{{>footer}}
</body>
</html>